opencv-python
mediapipe==0.10.10
streamlit
numpy
joblib
scikit-learn
fastapi
uvicorn
websockets
langchain
langchain-ollama
langchain-google-genai
sqlmodel
pymysql
passlib[bcrypt]
python-multipart
email-validator
pytest
httpx
pyjwt